body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.input-container, .select-container {
    margin-bottom: 10px;
}

input[type="number"], select {
    width: 150px;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: larger;
}
